/*#frame {
	z-index: 10;
	position: relative;
	margin: 10px 10px 10px 10px;
}
#search {
	z-index: 10;
	position: relative;
	margin: 10px 10px 10px 10px;
}
.search-bar {
	z-index: 10;
	position: relative;
	margin-top: 150px;
}*/

body {
	background: #75A3A3;
}
input {
	width: 350px;
}

.input-group-addon {
	width: 500px;
	position: relative;
	padding: 10px 10px 10px 10px;
}
.top-space {
	margin-bottom: 20px;
}

.clearfix:after {
	display: block;
	clear: both;
}

/*--- Menu Outline ---*/
.menu-wrap {
	width: 700px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.menu {
	width: 700px;
	margin: 0px auto;
}

.menu li {
	margin: 0px;
	list-style: none;
	font-family: 'Ek Mukta';
}
#poster {
	display: block;
	text-align: center;
}
