
<div class='container' ng-controller="SearchCtrl">
	<div class="input-group-addon search-bar">
		<input type="text" ng-model="search" ng-keypress="change()" placeholder="Enter a movie or TV show" />
	</div>

	<div ng-if="!details">
		Retrieving information...
	</div>
	
	<div id="main-info"></div>
	
	<div ng-if="details.Response === 'True'">
		<span class="span-outer">
    		<a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
  		</span> ({{ details.Year }}) <br />

  		<img ng-src="{{details.Poster}}" id="poster">
	<p>
		<b>Director:</b> {{details.Director}} <br />
		<b>Starring:</b> {{details.Actors}} <br />
		<b>IMDB Rating:</b> {{details.imdbRating}} <br />
		<b>Description:</b> {{details.Plot}} <br />
		<b>Related: </b> <div ng-repeat="item in related"> {{Title}} </div>
	</p>	
	</div>


	<!--<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    Dropdown
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-repeat="item in search.Search track by $index">
	    <li role="presentation"><{{item.Title}} ({{item.Year}})</li>
	  </ul>
	</div>-->
</div>